*.py[cod]

# Layer zips
.layers

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Misc
.cache/
.DS_Store
.eggs/
.env/
.idea/


**/.serverless/

node_modules
yarn-lock.json
