[tool.poetry]
name = "datadog_lambda"
version = "2.26.0"
description = "The Datadog AWS Lambda Library"
authors = ["Datadog, Inc. <dev@datadoghq.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/DataDog/datadog-lambda-pyhon"
keywords = [
    "datadog",
    "aws",
    "lambda",
    "layer",
]
packages = [
    { include = "datadog_lambda" }
]
classifiers = [
    "Programming Language :: Python :: 2.7",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
]

[tool.poetry.dependencies]
python = ">=2.7, !=3.0.*, !=3.1.*, !=3.2.*, !=3.3.*, !=3.4.*, !=3.5.*, <4"
datadog = "^0.39.0"
aws-xray-sdk = "^2.6.0"
ddtrace = "^0.44.0"
wrapt = "^1.11.2"
boto3 = { version = "^1.10.33", optional = true }
requests = { version ="^2.22.0", optional = true }
nose2 = { version= "^0.9.1", optional = true }
flake8 = { version = "^3.7.9", optional = true }
httpretty = {version = "^1.1.4", optional = true }
importlib_metadata = {version = "^1.0", python = "<3.8", optional = true }


[tool.poetry.extras]
dev = [
    "boto3",
    "requests",
    "nose2",
    "flake8",
    "httpretty",
    "importlib_metadata"
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
