[tool.poetry]
name = "datadog_lambda"
version = "5.85.0"
description = "The Datadog AWS Lambda Library"
authors = ["Datadog, Inc. <dev@datadoghq.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/DataDog/datadog-lambda-python"
keywords = [
    "datadog",
    "aws",
    "lambda",
    "layer",
]
packages = [
    { include = "datadog_lambda" }
]
classifiers = [
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]

[tool.poetry.dependencies]
python = ">=3.7.0,<4"
datadog = ">=0.41.0,<1.0.0"
wrapt = "^1.11.2"
ddtrace = ">=2.3.1"
urllib3 = [
    {version = "<2.0.0", python = "<3.11", optional = true},
    {version = "<2.1.0", python = ">=3.11", optional = true},
]
importlib_metadata = {version = "*", python = "<3.8"}
boto3 = { version = "^1.28.0", optional = true }
typing_extensions = {version = "^4.0", python = "<3.8"}
requests = { version ="^2.22.0", optional = true }
nose2 = { version= "^0.9.1", optional = true }
flake8 = { version = "^5.0.4", optional = true }


[tool.poetry.extras]
dev = [
    "boto3",
    "requests",
    "nose2",
    "flake8",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
